// Copyright (c) Microsoft Corporation.
// Licensed under the MIT license.

// Cat avatar art, baked directly into the .exe so we don't have to herd a litter of loose .png
// files through the build output. Read back via GetEmbeddedCatAsset() in CatResources.cpp.
//
// If you add or remove frames under cats\, add or remove the matching line here.
//
// Resource names are deliberately unquoted - rc.exe folds the quotes into the name itself if you
// quote them. It also uppercases names, but FindResource matches case-insensitively, so the
// lowercase names the loader builds still resolve.

// easter
easter/idle1.png RCDATA "cats\\easter\\idle1.png"
easter/idle2.png RCDATA "cats\\easter\\idle2.png"
easter/idle3.png RCDATA "cats\\easter\\idle3.png"
easter/idle4.png RCDATA "cats\\easter\\idle4.png"
easter/idle5.png RCDATA "cats\\easter\\idle5.png"
easter/idle6.png RCDATA "cats\\easter\\idle6.png"
easter/idle7.png RCDATA "cats\\easter\\idle7.png"
easter/idle8.png RCDATA "cats\\easter\\idle8.png"
easter/idle9.png RCDATA "cats\\easter\\idle9.png"
easter/idle10.png RCDATA "cats\\easter\\idle10.png"
easter/walking1.png RCDATA "cats\\easter\\walking1.png"
easter/walking2.png RCDATA "cats\\easter\\walking2.png"
easter/walking3.png RCDATA "cats\\easter\\walking3.png"
easter/walking4.png RCDATA "cats\\easter\\walking4.png"
easter/climbing1.png RCDATA "cats\\easter\\climbing1.png"
easter/climbing2.png RCDATA "cats\\easter\\climbing2.png"
easter/climbing3.png RCDATA "cats\\easter\\climbing3.png"
easter/climbing4.png RCDATA "cats\\easter\\climbing4.png"
easter/falling1.png RCDATA "cats\\easter\\falling1.png"
easter/falling2.png RCDATA "cats\\easter\\falling2.png"
easter/falling3.png RCDATA "cats\\easter\\falling3.png"
easter/falling4.png RCDATA "cats\\easter\\falling4.png"
easter/grabbed1.png RCDATA "cats\\easter\\grabbed1.png"
easter/grabbed2.png RCDATA "cats\\easter\\grabbed2.png"

// halloween
halloween/idle1.png RCDATA "cats\\halloween\\idle1.png"
halloween/idle2.png RCDATA "cats\\halloween\\idle2.png"
halloween/idle3.png RCDATA "cats\\halloween\\idle3.png"
halloween/idle4.png RCDATA "cats\\halloween\\idle4.png"
halloween/idle5.png RCDATA "cats\\halloween\\idle5.png"
halloween/idle6.png RCDATA "cats\\halloween\\idle6.png"
halloween/idle7.png RCDATA "cats\\halloween\\idle7.png"
halloween/idle8.png RCDATA "cats\\halloween\\idle8.png"
halloween/idle9.png RCDATA "cats\\halloween\\idle9.png"
halloween/idle10.png RCDATA "cats\\halloween\\idle10.png"
halloween/walking1.png RCDATA "cats\\halloween\\walking1.png"
halloween/walking2.png RCDATA "cats\\halloween\\walking2.png"
halloween/walking3.png RCDATA "cats\\halloween\\walking3.png"
halloween/walking4.png RCDATA "cats\\halloween\\walking4.png"
halloween/climbing1.png RCDATA "cats\\halloween\\climbing1.png"
halloween/climbing2.png RCDATA "cats\\halloween\\climbing2.png"
halloween/climbing3.png RCDATA "cats\\halloween\\climbing3.png"
halloween/climbing4.png RCDATA "cats\\halloween\\climbing4.png"
halloween/falling1.png RCDATA "cats\\halloween\\falling1.png"
halloween/falling2.png RCDATA "cats\\halloween\\falling2.png"
halloween/falling3.png RCDATA "cats\\halloween\\falling3.png"
halloween/falling4.png RCDATA "cats\\halloween\\falling4.png"
halloween/grabbed1.png RCDATA "cats\\halloween\\grabbed1.png"
halloween/grabbed2.png RCDATA "cats\\halloween\\grabbed2.png"

// july4
july4/idle1.png RCDATA "cats\\july4\\idle1.png"
july4/idle2.png RCDATA "cats\\july4\\idle2.png"
july4/idle3.png RCDATA "cats\\july4\\idle3.png"
july4/idle4.png RCDATA "cats\\july4\\idle4.png"
july4/idle5.png RCDATA "cats\\july4\\idle5.png"
july4/idle6.png RCDATA "cats\\july4\\idle6.png"
july4/idle7.png RCDATA "cats\\july4\\idle7.png"
july4/idle8.png RCDATA "cats\\july4\\idle8.png"
july4/idle9.png RCDATA "cats\\july4\\idle9.png"
july4/idle10.png RCDATA "cats\\july4\\idle10.png"
july4/walking1.png RCDATA "cats\\july4\\walking1.png"
july4/walking2.png RCDATA "cats\\july4\\walking2.png"
july4/walking3.png RCDATA "cats\\july4\\walking3.png"
july4/walking4.png RCDATA "cats\\july4\\walking4.png"
july4/climbing1.png RCDATA "cats\\july4\\climbing1.png"
july4/climbing2.png RCDATA "cats\\july4\\climbing2.png"
july4/climbing3.png RCDATA "cats\\july4\\climbing3.png"
july4/climbing4.png RCDATA "cats\\july4\\climbing4.png"
july4/falling1.png RCDATA "cats\\july4\\falling1.png"
july4/falling2.png RCDATA "cats\\july4\\falling2.png"
july4/falling3.png RCDATA "cats\\july4\\falling3.png"
july4/falling4.png RCDATA "cats\\july4\\falling4.png"
july4/grabbed1.png RCDATA "cats\\july4\\grabbed1.png"
july4/grabbed2.png RCDATA "cats\\july4\\grabbed2.png"

// may4
may4/idle1.png RCDATA "cats\\may4\\idle1.png"
may4/idle2.png RCDATA "cats\\may4\\idle2.png"
may4/idle3.png RCDATA "cats\\may4\\idle3.png"
may4/idle4.png RCDATA "cats\\may4\\idle4.png"
may4/idle5.png RCDATA "cats\\may4\\idle5.png"
may4/idle6.png RCDATA "cats\\may4\\idle6.png"
may4/idle7.png RCDATA "cats\\may4\\idle7.png"
may4/idle8.png RCDATA "cats\\may4\\idle8.png"
may4/idle9.png RCDATA "cats\\may4\\idle9.png"
may4/idle10.png RCDATA "cats\\may4\\idle10.png"
may4/walking1.png RCDATA "cats\\may4\\walking1.png"
may4/walking2.png RCDATA "cats\\may4\\walking2.png"
may4/walking3.png RCDATA "cats\\may4\\walking3.png"
may4/walking4.png RCDATA "cats\\may4\\walking4.png"
may4/climbing1.png RCDATA "cats\\may4\\climbing1.png"
may4/climbing2.png RCDATA "cats\\may4\\climbing2.png"
may4/climbing3.png RCDATA "cats\\may4\\climbing3.png"
may4/climbing4.png RCDATA "cats\\may4\\climbing4.png"
may4/falling1.png RCDATA "cats\\may4\\falling1.png"
may4/falling2.png RCDATA "cats\\may4\\falling2.png"
may4/falling3.png RCDATA "cats\\may4\\falling3.png"
may4/falling4.png RCDATA "cats\\may4\\falling4.png"
may4/grabbed1.png RCDATA "cats\\may4\\grabbed1.png"
may4/grabbed2.png RCDATA "cats\\may4\\grabbed2.png"

// pirate
pirate/idle1.png RCDATA "cats\\pirate\\idle1.png"
pirate/idle2.png RCDATA "cats\\pirate\\idle2.png"
pirate/idle3.png RCDATA "cats\\pirate\\idle3.png"
pirate/idle4.png RCDATA "cats\\pirate\\idle4.png"
pirate/idle5.png RCDATA "cats\\pirate\\idle5.png"
pirate/idle6.png RCDATA "cats\\pirate\\idle6.png"
pirate/idle7.png RCDATA "cats\\pirate\\idle7.png"
pirate/idle8.png RCDATA "cats\\pirate\\idle8.png"
pirate/idle9.png RCDATA "cats\\pirate\\idle9.png"
pirate/idle10.png RCDATA "cats\\pirate\\idle10.png"
pirate/walking1.png RCDATA "cats\\pirate\\walking1.png"
pirate/walking2.png RCDATA "cats\\pirate\\walking2.png"
pirate/walking3.png RCDATA "cats\\pirate\\walking3.png"
pirate/walking4.png RCDATA "cats\\pirate\\walking4.png"
pirate/climbing1.png RCDATA "cats\\pirate\\climbing1.png"
pirate/climbing2.png RCDATA "cats\\pirate\\climbing2.png"
pirate/climbing3.png RCDATA "cats\\pirate\\climbing3.png"
pirate/climbing4.png RCDATA "cats\\pirate\\climbing4.png"
pirate/falling1.png RCDATA "cats\\pirate\\falling1.png"
pirate/falling2.png RCDATA "cats\\pirate\\falling2.png"
pirate/falling3.png RCDATA "cats\\pirate\\falling3.png"
pirate/falling4.png RCDATA "cats\\pirate\\falling4.png"
pirate/grabbed1.png RCDATA "cats\\pirate\\grabbed1.png"
pirate/grabbed2.png RCDATA "cats\\pirate\\grabbed2.png"

// plain
plain/idle1.png RCDATA "cats\\plain\\idle1.png"
plain/idle2.png RCDATA "cats\\plain\\idle2.png"
plain/idle3.png RCDATA "cats\\plain\\idle3.png"
plain/idle4.png RCDATA "cats\\plain\\idle4.png"
plain/idle5.png RCDATA "cats\\plain\\idle5.png"
plain/idle6.png RCDATA "cats\\plain\\idle6.png"
plain/idle7.png RCDATA "cats\\plain\\idle7.png"
plain/idle8.png RCDATA "cats\\plain\\idle8.png"
plain/idle9.png RCDATA "cats\\plain\\idle9.png"
plain/idle10.png RCDATA "cats\\plain\\idle10.png"
plain/walking1.png RCDATA "cats\\plain\\walking1.png"
plain/walking2.png RCDATA "cats\\plain\\walking2.png"
plain/walking3.png RCDATA "cats\\plain\\walking3.png"
plain/walking4.png RCDATA "cats\\plain\\walking4.png"
plain/climbing1.png RCDATA "cats\\plain\\climbing1.png"
plain/climbing2.png RCDATA "cats\\plain\\climbing2.png"
plain/climbing3.png RCDATA "cats\\plain\\climbing3.png"
plain/climbing4.png RCDATA "cats\\plain\\climbing4.png"
plain/falling1.png RCDATA "cats\\plain\\falling1.png"
plain/falling2.png RCDATA "cats\\plain\\falling2.png"
plain/falling3.png RCDATA "cats\\plain\\falling3.png"
plain/falling4.png RCDATA "cats\\plain\\falling4.png"
plain/grabbed1.png RCDATA "cats\\plain\\grabbed1.png"
plain/grabbed2.png RCDATA "cats\\plain\\grabbed2.png"

// stpat
stpat/idle1.png RCDATA "cats\\stpat\\idle1.png"
stpat/idle2.png RCDATA "cats\\stpat\\idle2.png"
stpat/idle3.png RCDATA "cats\\stpat\\idle3.png"
stpat/idle4.png RCDATA "cats\\stpat\\idle4.png"
stpat/idle5.png RCDATA "cats\\stpat\\idle5.png"
stpat/idle6.png RCDATA "cats\\stpat\\idle6.png"
stpat/idle7.png RCDATA "cats\\stpat\\idle7.png"
stpat/idle8.png RCDATA "cats\\stpat\\idle8.png"
stpat/idle9.png RCDATA "cats\\stpat\\idle9.png"
stpat/idle10.png RCDATA "cats\\stpat\\idle10.png"
stpat/walking1.png RCDATA "cats\\stpat\\walking1.png"
stpat/walking2.png RCDATA "cats\\stpat\\walking2.png"
stpat/walking3.png RCDATA "cats\\stpat\\walking3.png"
stpat/walking4.png RCDATA "cats\\stpat\\walking4.png"
stpat/climbing1.png RCDATA "cats\\stpat\\climbing1.png"
stpat/climbing2.png RCDATA "cats\\stpat\\climbing2.png"
stpat/climbing3.png RCDATA "cats\\stpat\\climbing3.png"
stpat/climbing4.png RCDATA "cats\\stpat\\climbing4.png"
stpat/falling1.png RCDATA "cats\\stpat\\falling1.png"
stpat/falling2.png RCDATA "cats\\stpat\\falling2.png"
stpat/falling3.png RCDATA "cats\\stpat\\falling3.png"
stpat/falling4.png RCDATA "cats\\stpat\\falling4.png"
stpat/grabbed1.png RCDATA "cats\\stpat\\grabbed1.png"
stpat/grabbed2.png RCDATA "cats\\stpat\\grabbed2.png"

// xmas
xmas/idle1.png RCDATA "cats\\xmas\\idle1.png"
xmas/idle2.png RCDATA "cats\\xmas\\idle2.png"
xmas/idle3.png RCDATA "cats\\xmas\\idle3.png"
xmas/idle4.png RCDATA "cats\\xmas\\idle4.png"
xmas/idle5.png RCDATA "cats\\xmas\\idle5.png"
xmas/idle6.png RCDATA "cats\\xmas\\idle6.png"
xmas/idle7.png RCDATA "cats\\xmas\\idle7.png"
xmas/idle8.png RCDATA "cats\\xmas\\idle8.png"
xmas/idle9.png RCDATA "cats\\xmas\\idle9.png"
xmas/idle10.png RCDATA "cats\\xmas\\idle10.png"
xmas/walking1.png RCDATA "cats\\xmas\\walking1.png"
xmas/walking2.png RCDATA "cats\\xmas\\walking2.png"
xmas/walking3.png RCDATA "cats\\xmas\\walking3.png"
xmas/walking4.png RCDATA "cats\\xmas\\walking4.png"
xmas/climbing1.png RCDATA "cats\\xmas\\climbing1.png"
xmas/climbing2.png RCDATA "cats\\xmas\\climbing2.png"
xmas/climbing3.png RCDATA "cats\\xmas\\climbing3.png"
xmas/climbing4.png RCDATA "cats\\xmas\\climbing4.png"
xmas/falling1.png RCDATA "cats\\xmas\\falling1.png"
xmas/falling2.png RCDATA "cats\\xmas\\falling2.png"
xmas/falling3.png RCDATA "cats\\xmas\\falling3.png"
xmas/falling4.png RCDATA "cats\\xmas\\falling4.png"
xmas/grabbed1.png RCDATA "cats\\xmas\\grabbed1.png"
xmas/grabbed2.png RCDATA "cats\\xmas\\grabbed2.png"

